.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  gap: 5px;
  width: 200px;
}
.suggestionsList {
  border: 1px solid #ccc;
  border-top-width: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 198px;
  z-index: 1;
  background-color: white;
}
.input {
  width: 192px;
}
.suggestionsItem {
  cursor: pointer;
}

.suggestionsItem:hover {
  background-color: #e9e9e9;
}

.noSuggestions {
  color: #999;
  padding: 10px;
}
