.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 20px;
  width: 200px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
