.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 200px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.error {
  display: flex;
  text-align: left;
  font-size: 10px;
  color: red;
  max-width: 177px;
  height: 20px;
}
.wrapper-flex {
  display: flex;
  flex-direction: column;
}
