.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 200px;
}
.error {
  display: flex;
  text-align: left;
  font-size: 10px;
  color: red;
  max-width: 177px;
  height: 20px;
}