#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}
